.footer {
	// .footer__inner
	&__inner {
		&.mobile {
			flex-direction: column;
		}
	}
	// .footer__top
	&__top {
		&-wrapper {
			padding-bottom: 3rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	// .footer__logo
	&__logo {
		width: 11rem;
	}
	// .footer__nav
	&__nav {
		display: flex;
		align-items: center;
		gap: 14rem;
		// .footer__nav-item
		&-item {
			text-transform: uppercase;
			transition: color 0.2s linear;
			&:hover {
				transition: color 0.2s linear;
				color: $orange;
			}
		}
	}
	// .footer__main
	&__main {
		position: relative;
		padding: 3rem 0;
		border: 0.1rem solid $darkGray;
		border-left: none;
		border-right: none;
		// .footer__main-wrapper
		&-wrapper {
			display: flex;
			justify-content: space-between;
		}
		// .footer__main-item
		&-item {
			display: flex;
			flex-direction: column;
			width: 22.4rem;
			gap: 1.6rem;
		}
		// .footer__main-title
		&-title {
			color: $lightGray;
			a {
				text-transform: uppercase;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		// .footer__main-list
		&-list {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;

			li a {
				display: block;
				color: $darkGray;
				font-size: 1.6rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.064rem;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		// .footer__main-info
		&-info {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			margin-bottom: 0.6rem;
			p {
				color: $darkGray;
				font-size: 1.6rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.064rem;
			}
		}
		// .footer__main-social
		&-social {
			gap: 4.8rem;
		}
		&-link {
			position: absolute;
			bottom: 3rem;

			color: $orange;
			font-size: 2rem;
			line-height: 2.4rem; /* 120% */
			letter-spacing: 0.16rem;
			text-transform: uppercase;
		}
	}
	// .footer__bottom
	&__bottom {
		// .footer__bottom-wrapper
		&-wrapper {
			padding: 3rem 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		// .footer__bottom-copyrights
		&-copyrights {
			color: #6e7477;
		}
	}
}
@media (max-width: 48em) {
	.footer {
		// .footer__top
		&__top {
			&-wrapper {
				padding-bottom: 4rem;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 6.4rem;
				justify-content: space-between;
				border-bottom: 0.2rem solid $darkGray;
			}
		}
		// .footer__logo
		&__logo {
			width: 12rem;
		}
		// .footer__nav
		&__nav {
			display: flex;
			align-items: center;
			gap: 12rem;
			// .footer__nav-item
			&-item {
				text-transform: uppercase;
				transition: color 0.2s linear;
				&:hover {
					transition: color 0.2s linear;
					color: $orange;
				}
			}
		}
		// .footer__main
		&__main {
			padding: 4rem 0 5.6rem;
			border: none;
			// .footer__main-wrapper
			&-wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				gap: 3.2rem 0;
			}
			// .footer__main-item
			&-item {
				display: flex;
				flex-direction: column;
				width: 50%;
				gap: 3.2rem;
				margin-bottom: 1.2rem;

				&.active {
					.footer__main-title span svg {
						transform: rotate(-180deg);
						transition: transform 0.3s linear;
					}
				}
			}
			// .footer__main-title
			&-title {
				display: flex;
				align-items: center;
				height: 6rem;
				color: $white;
				text-transform: uppercase;
				line-height: 120%; /* 18px */
				letter-spacing: 0.12rem;

				span svg {
					width: 6rem;
					height: 6rem;
					transition: transform 0.3s linear;
				}
			}
			// .footer__main-list
			&-list {
				display: none;
				flex-direction: column;
				gap: 3.2rem;
				max-height: 0;
				transition: 0.8s ease-in-out;
				overflow: hidden;

				li a {
					font-size: 3rem;
					letter-spacing: 0.12rem;
				}
			}
			// .footer__main-info
			&-info {
				width: 100%;
				gap: 0.8rem;
				margin-bottom: 0;
				p {
					font-size: 3rem;
					letter-spacing: 0.12rem;
				}
			}
			// .footer__main-social
			&-social {
				position: static;
				gap: 0.5rem;
			}
		}
		// .footer__bottom
		&__bottom {
			// .footer__bottom-wrapper
			&-wrapper {
				border-top: 0.2rem solid $darkGray;
				padding: 5.6rem 0 9rem;
				display: flex;
				align-items: center;
				flex-direction: column;
				gap: 5.6rem;
			}
			// .footer__bottom-copyrights
			&-copyrights {
				font-size: 3rem;
				line-height: normal;
				letter-spacing: 0.06rem;
			}
		}
		&__btn {
			margin: 6.4rem 0;
		}
	}
}
