.ymaps-2-1-79-image {
    width: 6.2rem !important;
    height: 6.2rem !important;
    background-size: 100% 100% !important;
}
.ymaps-2-1-79-ground-pane {
    filter: grayscale(1) invert(1);
}
.ymaps-2-1-79-copyrights-pane {
    display: none;
}
