@mixin desc-media-screen {
  @media (min-width: 48em) { @content; }
}
@mixin media-screen {
  @media (max-width: 48em) { @content; }
}

.main-category {
	padding: 11rem 0;
	background: url(./assets/images/main-page/category/category-bg.png) center / cover no-repeat;
	// .main-category__inner
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 6rem;
	}
	// .main-category__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		max-width: 176rem;
		width: 100%;
		margin: 0 auto;
    @include media-screen {
      padding: 0 3.2rem;
      width: 100%;
    }
	}
	// .main-category__title
	&__title {
		text-transform: uppercase;
	}
	// .main-category__btn
	&__btn {
    @include media-screen {
      margin-top: 6rem;
      padding: 0 0 0 3.2rem;
    }
	}
	// .main-category__wrapper
	&__wrapper {
		overflow: hidden;
		position: relative;
		max-width: 176rem;
		width: 100%;
		margin: 0 auto;
    @include media-screen {
      width: 100%;
    }
	}
	&__icon {
		position: absolute;
		width: 37.7rem;
		height: 23.9rem;
		z-index: -1;
		opacity: 0.04;
	}
	// .main-category__slider
	&__slider {
		height: 80rem;
    @include media-screen {
      height: 100%;
    }

		&-wrapper.swiper-wrapper {

      @include media-screen {
        align-items: flex-end;
        padding: 0 0 0 3.2rem;
        height: 56rem;
      }
		}
		&-slide.swiper-slide {
			transition: all 0.8s linear;
			height: 50rem;
      
      @include media-screen {
        height: 43rem;
      }
      .category-slide__img {
        width: 41rem;
        z-index: 1;
        transition: width 0.4s ease;
        @include media-screen {
          width: 38rem;
        }
      }
      .category-slide__count {
        left: -8rem;
        top: 52%;
        transition: top 0.4s ease, left 0.4s ease;
        @include media-screen {
          left: -7rem;
        }
      }
			&.swiper-slide-active {
				transition: all 0.8s linear;
        
        @include media-screen {
          height: 55rem;
        }
        @include desc-media-screen {
          width: 86rem !important;
          height: 80rem !important;
        }

        .category-slide__img {
          width: 58rem;
          @include media-screen {
            width: 38rem;
          }
        }
        .category-slide__count {
          left: -6rem;
          top: 55%;
          @include media-screen {
            left: -5rem;
            top: 57%;
          }
        }
			}
			&.swiper-slide-prev {
				transition: all 0.8s linear;
			}
			&.swiper-slide-next {
				transition: all 0.8s linear;
        @include desc-media-screen {
          transform: translateY(30rem);
        }
			}
		}
		&-fraction {
		}
		&-navigation {
			position: absolute;
			right: 0rem;
			bottom: 0;
			z-index: 10;
      @include media-screen {
        right: 5rem;
      }
		}
		&-footer {
		}
	}
}
.category-slide {
	height: 100%;
	// .category-slide__wrapper
	&__wrapper {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;
		padding: 3.2rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		background: url(../assets/images/main-page/category/grain-mask.png) center/ cover no-repeat, radial-gradient(156.56% 156.56% at 50% 50%, #5f6466 0.59%, rgba(55, 56, 60, 0) 100%, rgba(55, 56, 60, 0) 100%);
	}
	// .category-slide__text
	&__text {
		letter-spacing: 0.16rem;
		text-transform: uppercase;
	}
	// .category-slide__img
	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	// .category-slide__count
	&__count {
		position: absolute;
		left: -6rem;
		top: 50%;
		transform: translateY(-60%);
		color: rgba(0, 0, 0, 0.2);
		font-family: Oswald;
		font-size: 28rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		letter-spacing: 2.24rem;
		text-transform: uppercase;
    @include media-screen {
      left: -5rem;
      top: 58%;
      font-size: 18rem;
    }
	}
}
.slider-fraction {
}
