@mixin media-screen {
	@media (max-width: 48em) {
		@content;
	}
}

@keyframes redAnim {
	0% {
		transform: translate(calc(-50% + 0.5rem), -50%);
	}
	20% {
		transform: translate(calc(-50% + 0.25rem), calc(-50% + 0.25rem));
	}
	40% {
		transform: translate(-50%, calc(-50% + 0.5rem));
	}
	60% {
		transform: translate(calc(-50% - 0.5rem), calc(-50% - 0.25rem));
	}
	80% {
		transform: translate(calc(-50% - 0.25rem), -50%);
	}
	100% {
		transform: translate(calc(-50% + 0.5rem), -50%);
	}
}
@keyframes blueAnim {
	0% {
		transform: translate(calc(-50% - 0.5rem), -50%);
	}
	20% {
		transform: translate(calc(-50% - 0.5rem), calc(-50% + 0.5rem));
	}
	40% {
		transform: translate(-50%, calc(-50% - 0.5rem));
	}
	60% {
		transform: translate(calc(-50% + 0.25rem), calc(-50% + 0.25rem));
	}
	80% {
		transform: translate(calc(-50% + 0.25rem), -50%);
	}
	100% {
		transform: translate(calc(-50% - 0.5rem), -50%);
	}
}

.catalog-banner {
	margin-top: -2rem;
	overflow: hidden;
	@include media-screen {
		padding: 0 0 43rem;
		margin-top: 0;
	}
	&__container {
		position: relative;
		@include media-screen {
			padding: 0;
		}
	}
	&__title {
		color: $orange;
		position: absolute;
		font-family: 'Oswald';
		font-size: 20.8rem;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		text-transform: uppercase;
		letter-spacing: 2.2rem;
		z-index: -1;
		top: 2rem;
		white-space: nowrap;
		@include media-screen {
			font-size: 14rem;
			letter-spacing: normal;
			margin-left: -11rem;
			top: 6rem;
		}
	}
	&__navigation {
		position: absolute;
		top: 34.5rem;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 2;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 200;
		line-height: normal;
		font-size: 3rem;
		color: $orange;
		@include media-screen {
			top: 88rem;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: 0 3.2rem;
			font-size: 6rem;
		}
	}
	&__slider-pagination-frac {
		margin-bottom: 6rem;
		@include media-screen {
			margin: 0;
		}
		.swiper-pagination-total {
			color: $lightGray;
			font-size: 2rem;
			margin-bottom: 0.3rem;
			@include media-screen {
				font-size: 4rem;
				margin-left: 0rem;
			}
		}
		.swiper-pagination-current {
			@include media-screen {
				margin-right: 0rem;
			}
		}
	}
	&__text-slider {
		position: absolute;
		width: 107rem;
		padding: 33rem 0 0 45rem;
		top: 0;
		left: 0;
		z-index: 1;
		@include media-screen {
			padding: 0;
			top: 57rem;
			width: 100%;
		}
	}
	&__img-slider {
		position: relative;
		z-index: 2;
		padding: 0rem 0 0 89rem;
		margin: -1rem 0 0 10rem;
		@include media-screen {
			padding: 0;
			margin: 5rem 0 0 0;
		}
	}
	&__img-slide {
		&.swiper-slide:hover {
			.catalog-banner__img-slide-img.red {
				display: block;
				animation: redAnim infinite 1s step-end;
			}
			.catalog-banner__img-slide-img.blue {
				display: block;
				animation: blueAnim infinite 1s step-end;
			}
			@include media-screen {
				.catalog-banner__img-slide-img.red,
				.catalog-banner__img-slide-img.blue {
					display: none;
				}
			}
		}

		&-item {
			position: relative;
			width: 66.6rem;
			height: 67.3rem;

			@include media-screen {
				width: 100%;
				height: 52.4rem;
			}
		}
		&-img {
			width: 100%;
			height: 100%;

			&.blue,
			&.red {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
			}
			&.red {
				display: none;
				filter: invert(31%) sepia(40%) saturate(767%) hue-rotate(313deg) contrast(228%);
			}
			&.blue {
				display: none;
				filter: invert(31%) sepia(40%) saturate(767%) hue-rotate(129deg) contrast(114%);
			}
			@include media-screen {
				width: 51rem;
				margin: 0 auto;
			}
		}
	}
	&__text-slide {
		&-item {
			width: 50rem;
			@include media-screen {
				width: 64rem;
				margin: 0 auto;
				text-align: center;
			}
		}
		&-title {
			text-transform: uppercase;
			@include media-screen {
				font-size: 5.6rem;
			}
		}
	}
	&__text-slide {
		width: 39.3rem;
		&-title {
			margin-bottom: 3.2rem;
			@include media-screen {
				margin-bottom: 3rem;
				line-height: 125%;
			}
		}
		&-text {
			color: $darkGray;
			letter-spacing: 0.16rem;
			text-transform: uppercase;
			@include media-screen {
				text-transform: inherit;
				letter-spacing: normal;
			}
		}
	}
}

.pagination-frac {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 200;
	line-height: normal;
	font-size: 3rem;
	color: $orange;
	display: flex;
	align-items: flex-end;
	@include media-screen {
		font-size: 6rem;
	}
	.swiper-pagination-total {
		color: $lightGray;
		font-size: 2rem;
		margin-bottom: 0.3rem;
		@include media-screen {
			font-size: 4rem;
			margin-left: 0rem;
		}
	}
	.swiper-pagination-current {
		@include media-screen {
			margin-right: 0rem;
		}
	}
}
