<footer class="footer">
	<div class="footer__inner desktop">
		<div class="footer__top">
			<div class="footer__container container">
				<div class="footer__top-wrapper">
					<div class="footer__logo">
						<a href="#"><img src="../assets/images/logo-white.svg" alt=""></a>
					</div>
					<nav class="footer__nav">
						<div class="footer__nav-item text-16"><a href="#">О бренде</a></div>
						<div class="footer__nav-item text-16"><a href="#">О компании</a></div>
						<div class="footer__nav-item text-16"><a href="#">Стиль</a></div>
						<div class="footer__nav-item text-16"><a href="#">Для бизнеса</a></div>
						<div class="footer__nav-item text-16"><a href="#">Поддержка</a></div>
						<div class="footer__nav-item text-16"><a href="#">Контакты</a></div>
					</nav>
					<div class="footer__btn">
						<button class="btn-primary" type="button">
							<strong>заказать звонок</strong>
							<span>
								<svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
									<path
										d="M5 20C4.72386 20 4.5 20.2239 4.5 20.5C4.5 20.7761 4.72386 21 5 21V20ZM35.3536 20.8536C35.5488 20.6583 35.5488 20.3417 35.3536 20.1464L32.1716 16.9645C31.9763 16.7692 31.6597 16.7692 31.4645 16.9645C31.2692 17.1597 31.2692 17.4763 31.4645 17.6716L34.2929 20.5L31.4645 23.3284C31.2692 23.5237 31.2692 23.8403 31.4645 24.0355C31.6597 24.2308 31.9763 24.2308 32.1716 24.0355L35.3536 20.8536ZM5 21H35V20H5V21Z"
										fill="#DD921E" />
								</svg>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__main">
			<div class="footer__container container">
				<div class="footer__main-wrapper">
					<div class="footer__main-item">
						<div class="footer__main-title text-20-r">О бренде</div>
						<ul class="footer__main-list">
							<li><a href="">Философия бренда</a></li>
							<li><a href="">Концепция доступный люкс</a></li>
							<li><a href="">Партнеры бренда</a></li>
							<li><a href="">Ароматы и упаковка</a></li>
						</ul>
					</div>
					<div class="footer__main-item">
						<div class="footer__main-title text-20-r">О компании</div>
						<ul class="footer__main-list">
							<li><a href="">Представитель в России</a></li>
							<li><a href="">Карьера в России</a></li>
							<li><a href="">Карьера за рубежем</a></li>
							<li><a href="">СМИ о нас</a></li>
						</ul>
					</div>
					<div class="footer__main-item">
						<div class="footer__main-title text-20-r">Для бизнеса</div>
						<ul class="footer__main-list">
							<li><a href="">Барбершопам и салонам</a></li>
							<li><a href="">Дистрибьютерам</a></li>
							<li><a href="">Профессиональным магазинам</a></li>
							<li><a href="">Академиям и школам</a></li>
							<li><a href="">Частым мастерам</a></li>
						</ul>
					</div>
					<div class="footer__main-item">
						<div class="footer__main-title text-20-r">Поддержка</div>
						<ul class="footer__main-list">
							<li><a href="">Сервисные центры</a></li>
							<li><a href="">Контроль качества</a></li>
							<li><a href="">Вопрос ответ</a></li>
							<li><a href="">Правовая информация</a></li>
							<li><a href="">Политика конфиденциальности</a></li>
						</ul>
					</div>
					<div class="footer__main-item">
						<div class="footer__main-info">
							<div class="footer__main-title text-20-r">
								<a href="mailto:ask@rebelgroup.ru">ask@rebelgroup.ru</a>
							</div>
							<p>
								оставить отзыв о работе менеджера или качестве товара
							</p>
						</div>
						<div class="footer__main-info">
							<div class="footer__main-title text-20-r">
								<a href="mailto:pr@rebelgroup.ru">pr@rebelgroup.ru</a>
							</div>
							<p>
								Предложить участие в выставке, коллаборацию или публикацию в СМИ
							</p>
						</div>
						<div class="footer__main-info">
							<div class="footer__main-title text-20-r">
								<a href="mailto:opt@rebelgroup.ru">opt@rebelgroup.ru</a>
							</div>
							<p>
								Связаться по вопросу оптовых закупок или дилерских условий
							</p>
						</div>
					</div>
				</div>
				<div class="footer__main-social social">
					<div class="social-item">
						<a href=""><img src="../assets/images/icons/social/vk.svg" alt=""></a>
					</div>
					<div class="social-item">
						<a href=""><img src="../assets/images/icons/social/instagram.svg" alt=""></a>
					</div>
					<div class="social-item">
						<a href=""><img src="../assets/images/icons/social/youtube.svg" alt=""></a>
					</div>
					<div class="social-item">
						<a href=""><img src="../assets/images/icons/social/telegram.svg" alt=""></a>
					</div>
					<div class="social-item">
						<a href=""><img src="../assets/images/icons/social/dzen.svg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__container container">
				<div class="footer__bottom-wrapper">
					<div class="footer__bottom-copyrights text-16">
						<span>Copyright &copy; 2023 ООО «REBEL GROUP»</span>
					</div>
					<a class="footer__bottom-request request-dev" href="#">
						<div class="request-dev__text">
							<p>Разработано</p>
							<strong>Request <span>Design</span></strong>
						</div>
						<div class="request-dev__logo">
							<img src="../assets/images/logo-request.svg" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__inner mobile">
		<div class="footer__top">
			<div class="footer__container container">
				<div class="footer__top-wrapper">
					<div class="footer__logo">
						<a href="#"><img src="../assets/images/logo-white.svg" alt=""></a>
					</div>
					<div class="footer__main-wrapper">
						<div class="footer__main-item">
							<div class="footer__main-title text-20-r">
								<span>О бренде</span>
								<span>
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
										<path d="M9 12L14.351 17.5118C14.983 18.1627 16.017 18.1627 16.649 17.5118L22 12" stroke="white"
											stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
									</svg>
								</span>
							</div>
							<ul class="footer__main-list">
								<li><a href="">Философия бренда</a></li>
								<li><a href="">Концепция доступный люкс</a></li>
								<li><a href="">Партнеры бренда</a></li>
								<li><a href="">Ароматы и упаковка</a></li>
							</ul>
						</div>
						<div class="footer__main-item">
							<div class="footer__main-title text-20-r">
								<span>О компании</span>
								<span>
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
										<path d="M9 12L14.351 17.5118C14.983 18.1627 16.017 18.1627 16.649 17.5118L22 12" stroke="white"
											stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
									</svg>
								</span>
							</div>
							<ul class="footer__main-list">
								<li><a href="">Барбершопам и салонам</a></li>
								<li><a href="">Дистрибьютерам</a></li>
								<li><a href="">Профессиональным магазинам</a></li>
								<li><a href="">Академиям и школам</a></li>
								<li><a href="">Частым мастерам</a></li>
							</ul>
						</div>
						<div class="footer__main-item">
							<div class="footer__main-title text-20-r">
								<a href="#">Стиль</a>
							</div>
						</div>
						<div class="footer__main-item">
							<div class="footer__main-title text-20-r">
								<span>Для бизнеса</span>
								<span>
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
										<path d="M9 12L14.351 17.5118C14.983 18.1627 16.017 18.1627 16.649 17.5118L22 12" stroke="white"
											stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
									</svg>
								</span>
							</div>
							<ul class="footer__main-list">
								<li><a href="">Представитель в России</a></li>
								<li><a href="">Карьера в России</a></li>
								<li><a href="">Карьера за рубежем</a></li>
								<li><a href="">СМИ о нас</a></li>
							</ul>
						</div>
						<div class="footer__main-item">
							<div class="footer__main-title text-20-r">
								<span>Поддержка</span>
								<span>
									<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
										<path d="M9 12L14.351 17.5118C14.983 18.1627 16.017 18.1627 16.649 17.5118L22 12" stroke="white"
											stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
									</svg>
								</span>
							</div>
							<ul class="footer__main-list">
								<li><a href="">Представитель в России</a></li>
								<li><a href="">Карьера в России</a></li>
								<li><a href="">Карьера за рубежем</a></li>
								<li><a href="">СМИ о нас</a></li>
							</ul>
						</div>
						<div class="footer__main-item">
							<div class="footer__main-title text-20-r">
								<a href="#">Контакты</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__main">
			<div class="footer__container container">
				<div class="footer__main-wrapper">
					<div class="footer__main-info">
						<div class="footer__main-title text-20-r">
							<a href="mailto:ask@rebelgroup.ru">ask@rebelgroup.ru</a>
						</div>
						<p>
							оставить отзыв о работе менеджера или качестве товара
						</p>
					</div>
					<div class="footer__main-info">
						<div class="footer__main-title text-20-r">
							<a href="mailto:pr@rebelgroup.ru">pr@rebelgroup.ru</a>
						</div>
						<p>
							Предложить участие в выставке, коллаборацию или публикацию в СМИ
						</p>
					</div>
					<div class="footer__main-info">
						<div class="footer__main-title text-20-r">
							<a href="mailto:opt@rebelgroup.ru">opt@rebelgroup.ru</a>
						</div>
						<p>
							Связаться по вопросу оптовых закупок или дилерских условий
						</p>
					</div>
				</div>
				<div class="footer__btn">
					<button class="btn-primary" type="button">
						<strong>заказать звонок</strong>
						<span>
							<svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41" fill="none">
								<path
									d="M5 20C4.72386 20 4.5 20.2239 4.5 20.5C4.5 20.7761 4.72386 21 5 21V20ZM35.3536 20.8536C35.5488 20.6583 35.5488 20.3417 35.3536 20.1464L32.1716 16.9645C31.9763 16.7692 31.6597 16.7692 31.4645 16.9645C31.2692 17.1597 31.2692 17.4763 31.4645 17.6716L34.2929 20.5L31.4645 23.3284C31.2692 23.5237 31.2692 23.8403 31.4645 24.0355C31.6597 24.2308 31.9763 24.2308 32.1716 24.0355L35.3536 20.8536ZM5 21H35V20H5V21Z"
									fill="#DD921E" />
							</svg>
						</span>
					</button>
				</div>
				<div class="footer__main-social social">
					<div class="social-item">
						<a href=""><img src="../assets/images/icons/social/vk.svg" alt=""></a>
					</div>
					<div class="social-item">
						<a href=""><img src="../assets/images/icons/social/instagram.svg" alt=""></a>
					</div>
					<div class="social-item">
						<a href=""><img src="../assets/images/icons/social/youtube.svg" alt=""></a>
					</div>
					<div class="social-item">
						<a href=""><img src="../assets/images/icons/social/telegram.svg" alt=""></a>
					</div>
					<div class="social-item">
						<a href=""><img src="../assets/images/icons/social/dzen.svg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__container container">
				<div class="footer__bottom-wrapper">
					<div class="footer__bottom-copyrights text-16">
						<span>Copyright &copy; 2023 ООО «REBEL GROUP»</span>
					</div>
					<a class="footer__bottom-request request-dev" href="#">
						<div class="request-dev__text">
							<p>Разработано</p>
							<strong>Request <span>Design</span></strong>
						</div>
						<div class="request-dev__logo">
							<img src="../assets/images/logo-request.svg" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- <div class="footer__main-item">
	<div class="footer__main-info">
		<div class="footer__main-title text-20-r">
			<a href="mailto:ask@rebelgroup.ru">ask@rebelgroup.ru</a>
		</div>
		<p>
			оставить отзыв о работе менеджера или качестве товара
		</p>
	</div>
	<div class="footer__main-info">
		<div class="footer__main-title text-20-r">
			<a href="mailto:pr@rebelgroup.ru">pr@rebelgroup.ru</a>
		</div>
		<p>
			Предложить участие в выставке, коллаборацию или публикацию в СМИ
		</p>
	</div>
	<div class="footer__main-info">
		<div class="footer__main-title text-20-r">
			<a href="mailto:opt@rebelgroup.ru">opt@rebelgroup.ru</a>
		</div>
		<p>
			Связаться по вопросу оптовых закупок или дилерских условий
		</p>
	</div>
</div> -->